# Xsession environment vars & startup programs
# Ran by .xinitrc (when starting X from command line)
# and by lightdm

# Remap CapsLock to Control
setxkbmap -layout us -option ctrl:nocaps

# Startup programs
feh --bg-scale --randomize ~/backgrounds
sxhkd & 
numlockx &
unclutter &
redshift &
picom --xrender-sync-fence &
xss-lock -- betterlockscreen -l dim &
# tmux-session restore
