xterm*background: black
xterm*foreground: lightgray
xterm*faceName: DejaVu Sans Mono for Powerline
xterm*faceSize: 13 
xterm*selectToClipboard: true
XTerm.VT100.color4: CornflowerBlue
Xterm*VT100*Translations: #override \n\
  Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>V: insert-selction(CLIPBOARD) 

URxvt.depth: 32
URxvt.background: [95]#000000
URxvt.scrollBar: false
URvxt*font: xft:DejaVu\ Sans\ Mono\ for\ Powerline:size=12
!URxvt*font: xft:monaco:size=12

Xft.dpi: 221 
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
