xterm*background: black
xterm*foreground: lightgray
xterm*faceName: DejaVu Sans Mono
xterm*faceSize: 8 
xterm*selectToClipboard: true
XTerm.VT100.color4: CornflowerBlue
Xterm*vt100*Translations: #override \
  Ctrl Shift <Key> C: copy-selection(CLIPBOARD) \n\
  Ctrl Shift <Key> V: insert-selction(CLIPBOARD) \n\
  Ctrl Shift <Key> V: insert-selction(PRIMARY) \n\

Xft.dpi: 227 
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
