<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.facebook.bunny</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>18496AC4-EA42-444C-A906-642E38259C96</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF10B845-468E-4A88-A9D9-8E4C589E387C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7246FFF7-C611-443D-B2C6-3F979EAF15B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF10B845-468E-4A88-A9D9-8E4C589E387C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>99ED4836-9582-40EE-9F80-0EAAEEB7F06C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF10B845-468E-4A88-A9D9-8E4C589E387C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D8D051E8-5241-4D77-98C4-516875D2C27A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF10B845-468E-4A88-A9D9-8E4C589E387C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Andrew Preece, Colin Chan</string>
	<key>description</key>
	<string>Bunny to alfred binding</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Bunny</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>subtext</key>
				<string>https://our.intern.facebook.com/intern/bunny/?q={query}</string>
				<key>text</key>
				<string>bunny '{query}'</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>D8D051E8-5241-4D77-98C4-516875D2C27A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>54</integer>
				<key>keyword</key>
				<string>bunny</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading Bunny...</string>
				<key>script</key>
				<string>python bunny.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Bunny!</string>
				<key>title</key>
				<string>Bunny Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>18496AC4-EA42-444C-A906-642E38259C96</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://our.intern.facebook.com/intern/bunny/?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BF10B845-468E-4A88-A9D9-8E4C589E387C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>54</integer>
				<key>keyword</key>
				<string>b</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading Bunny...</string>
				<key>script</key>
				<string>python bunny.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Bunny!</string>
				<key>title</key>
				<string>Bunny Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>99ED4836-9582-40EE-9F80-0EAAEEB7F06C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>54</integer>
				<key>keyword</key>
				<string>l</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading Bunny...</string>
				<key>script</key>
				<string>python bunny.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Bunny!</string>
				<key>title</key>
				<string>Bunny Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7246FFF7-C611-443D-B2C6-3F979EAF15B4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>uidata</key>
	<dict>
		<key>18496AC4-EA42-444C-A906-642E38259C96</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>7246FFF7-C611-443D-B2C6-3F979EAF15B4</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>99ED4836-9582-40EE-9F80-0EAAEEB7F06C</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>BF10B845-468E-4A88-A9D9-8E4C589E387C</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>D8D051E8-5241-4D77-98C4-516875D2C27A</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>fburl.com/alfred</string>
</dict>
</plist>
